/* -------------------- GLOBAL -------------------- */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
  color: #0F4369;
  padding: 1em;
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

img {
  width: 100%;
}

p, a {
  font-size: 1.2em;
}

p {
  padding: 0 2em 1.5em 2em;
}

/* -------------------- HEADER / NAVIGATION -------------------- */
header {
  background-color: #0F4369;
  border-bottom: 4px solid #2e7386;
}

.logo-header {
  font-size: 30px;
}

nav {
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 70px;
}

nav #bars {
  display: none;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav a {
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

nav ul a:hover {
  color: #27a5ff;
}

.active {
  color: white;
}

/* -------------------- KONTAKTFORM -------------------- */
input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5em 0 1em 0;
  box-sizing: border-box;
}

select {
  padding: 0.675em 6em 0.675em 1em;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.custom-select {
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 48%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 63%;
}

input[type=submit] {
  background-color: #DB5000;
  color: white;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;
  font-size: 18px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #963700;
  transition: 0.5s;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

.checkbox {
  margin: 0.8em 0;
}

fieldset {
  border-color: #DB5000;
}

::placeholder {
  color: #333;
}

.kontaktform {
  background-color: #D2E6EE;
  padding: 1.3em;
  max-width: 650px;
  width: 100%;
  margin: 2rem auto;
}

/* -------------------- RESPONSIV -------------------- */
@media only screen and (max-width: 850px) {
  .kontaktform {
    width: 90%;
  }

  nav #bars {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 2.3em;
    color: white;
    cursor: pointer;
  }

  nav ul {
    display: none;
    border-top: 4px solid #0F4369;
    flex-direction: column;
  }

  nav ul li {
    display: flex;
  }

  nav .show {
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 0;
    background-color: #12629c;
    width: 100%;
    z-index: 1;
  }
}
